/* font-family for Railway font */

.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* font-family for Inter font */

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */

.primary-color {
    color: #4E47FF;
}

/* .text-color1 {
    color: #252432;
} */

.center-text{
     text-align: center;
}

.btn {
    font-weight: bold;
    font-size: 16px;
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 12px 36px;
    outline: none;
    border: 0.1px solid transparent;
    transition: all 0.5s ease;
}

.btn:hover {
    background-color: #3b34ff;
    box-shadow: 4px 4px 12px #4E47FF;
    border-bottom: 0.1px solid whitesmoke;
    border-right: 0.1px solid whitesmoke;
}

.section-title {
    font-weight: bold;
    font-size: 42px;
    color: #252432;
    margin-bottom: 23px;
}

/* bodyy styles */

body {
    font-family: "Raleway", sans-serif;
    background-color: #F5F8FF;
    color: #252432;
}

/* header styles */

header {
    background-image: url("../Assets/Hero-bg.png");
    background-repeat: no-repeat;
    border: 1px solid transparent;
}

/* navbar styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}

.nav-title {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 34px;
}

nav a {
    text-decoration: none;
}

/* banner styles  */

.banner {
    max-width: 900px;
    text-align: center;
    margin: 155px auto 152px;
}

.banner-title {
    font-weight: bold;
    font-size: 65px;
}

/* main styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
    margin-bottom: 130px;
    /* border: 1px solid black; */
}

/* action section styles */

.action {
    display: flex;
    gap: 200px;
    justify-content: space-between;
    align-items: center;
}

.action-section-desc {
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 23px;
    margin-top: 0px;
    color: rgba(37, 36, 50, 0.5);
}

.action img {
    border-radius: 48px;
    max-width: 400px;
}

/* productive users section */

.productive-users {
    background-color: #E5E7FF;
    text-align: center;
    padding: 50px 120px;
    border-radius: 24px;

}

.productive-user-row {
    display: flex;
    align-items: center;
    gap: 160px;
    text-align: center;

}

.productive-users-data {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 80px;
    color: #4E47FF;
    margin: 40px 0 0 0;
}

.productive-users-data-desc {
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    color: rgba(37, 36, 50, 0.5);
}
/* feedback section styles */

.feedback-item-container{
    display: flex;
    gap: 20px;
    margin-top: 50px;
}

.feedback-item{
    padding: 24px;
    background-color: white;
    border: 1px solid #F2EDED;
    border-radius: 14px;
    box-shadow: 0 4px 50px #F2EDED;
}
.feedback-item-title{
    font-weight: semibold;
    font-size: 24px;
    margin: 24px 0 10px 0;
}

.feedback-item-subtitle{
    font-weight: 400;
    font-size: 20px;
    margin: 0 0 24px 0;
}
.feedback-item-user{
    display: flex;
    gap: 12px;
}

.feedback-item-user-name{
    font-weight: 600;
    font-size: 20px;
    color: #343341;
    margin: 0;
}
.feedback-item-user-date{
    font-weight: 300;
    font-size: 18px;
    color: #343341;
    margin: 3px 0 0 0;
}

.feedback-item-user img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
/* user info styles */
.user-info{
    display: flex;
    gap: 115px;
    justify-content: space-between;
    align-items: center;
}

.user-info-column {
    width: 50%;
}

.user-info h3 {
    font-weight: bold;
    font-size: 97px;
    color: black;
    margin-top: 0;
    padding-top: 0;
}

.user-info form {
    font-family: "Inter", sans-serif;
    margin: 70px 0;
}

.user-info label {
    font-weight: 500;
    font-size: 18px;
}

.user-info input[type="email"],
input[type="text"],input[type="submit"],
textarea {
    font-weight: 400;
    font-size: 20px;
    padding: 20px 32px;
    width: 100%;
    border: none;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    margin-top: 10px;
    box-sizing: border-box; 
    /* Button are border-box and input are content-box by default, that's why submit button box size does not match with input box */
}
/* footer styles */

footer {
    width: 100%;
    text-align: center;
    background-color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.10);
    margin-bottom: 0;
}

.footer-content {
    font-family: "Inter", sans-serif;
    margin: 100px auto;
    max-width: 530px;
}

.footer-title {
    font-weight: bold;
    font-size: 100px;
    margin-bottom: 0px;
}

.footer-subtitle,
footer li a {
    font-weight: 400;
    font-size: 18;
    color: #8987A1;
}

footer ul {
    display: flex;
    /* justify-content: center; */
}

footer ul li {
    list-style: none;
    margin-right: 50px;
}

footer ul li a {
    text-decoration: none;
}